body {
  margin: 0 auto;
  background-image: "../public/img1.png";
}

.Navbar {
  background: rgb(202,177,210);
  background: linear-gradient(90deg, rgba(202,177,210,1) 0%, rgba(225,203,226,1) 26%, rgba(251,251,251,1) 57%);
  color: black;
  padding: 15px;
}

/* .sign-container {
  border-bottom: 10px solid black;
  margin: 0 2px;
} */

.Navbar button {
    background:none;
    border:none;
    cursor: pointer;
    font-weight: bold;
}

.deckContainer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

img {
  height: 20px;
}

.deckForm {
  display: flex;
  flex-direction: column;
}